.wrapper {
  background-image: url("../../../../assets/img/background/official-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.controls {
  display: flex;
  flex-direction: column;
  padding: 32px 20px;
  background-color: var(--white-100);
  box-shadow: 4px 4px var(--primary-color);
  border-radius: 12px;
}

.form {
  min-width: 325px;
}

.logo {
  margin-bottom: 30px;
  text-align: center;
}

.controls * {
  font-size: 16px;
  line-height: 20px;
}

.controls-section {
  gap: 12px;
}

.controls-button {
  color: var(--black-100);
  font-family: "Roboto-Medium";
  padding: 10px 6px;
  border-radius: 6px !important;
  &:hover {
    color: var(--black-100);
  }
}
